body {
    margin: 0;
    padding: 0;
}
.conteyner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    display: flex;
    height: 60px;
    width: 100%;
    top: 0;
    position: absolute;
    background-color: #495D6A;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}
.left-side{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}
.right-side{
    width: 10%;
}
.bars-conteyner{
    width: 64px;
    height: 64px;
    border-radius: 20px;
    background-color: #970C10;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    margin-top: 8rem;
    font-size: 20px;
}
.list div{
    
}